# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

venv/

# IDE
.idea/
.vscode/

# Models & large files
models/
vosk-model*/
*.zip

# OS
.DS_Store
Thumbs.db


# nodemodules
node_modules/
npm-debug.log
yarn-error.log

# Large Models
wav2vec2-nepali-finetuned/
